<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.employment.hr.mapper.CompanyHrMemberMapper">

    <select id="findByCompanyId" resultType="com.example.employment.common.entity.CompanyHrMember">
        SELECT * FROM company_hr_members WHERE company_id = #{companyId} ORDER BY created_at DESC
    </select>

    <select id="findByUserId" resultType="com.example.employment.common.entity.CompanyHrMember">
        SELECT * FROM company_hr_members WHERE user_id = #{userId}
    </select>

    <select id="findByCompanyAndUser" resultType="com.example.employment.common.entity.CompanyHrMember">
        SELECT * FROM company_hr_members WHERE company_id = #{companyId} AND user_id = #{userId}
    </select>

</mapper>